# ==============================
# Dataset (large files)
# ==============================
Datasets/

# ==============================
# Machine Learning models
# ==============================
*.h5
*.keras
*.pt
*.pth
*.ckpt

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual environments
# ==============================
venv/
env/
.venv/
ENV/

# ==============================
# IDE files
# ==============================
.idea/
.vscode/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db